/* Add CSS for your webpage here

CSS requirements:
* a tag selector
* a class selector
* an id selector
* use the following attributes: height, width, border, color, background-color, font-size
* add margin and padding to two different elements  

Stretch Goal: Use online resources to learn a little about the CSS properties of 'display' and 'position'. Incorporate them into your page.
*/
body {
    background-color: lightgoldenrodyellow;
    margin: 0 auto;
}

h1,
h3,
#sub {
    text-align: center;
    color: darkblue;
}

span {
    border: 2px solid crimson;
    background-color: darkkhaki;
    padding: 10px;
    margin: 0 auto;
}

#sub {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: burlywood;
    border: 2px solid darkslategray;

}

#bdiv {
    padding-top: 20px;
    text-align: center;
}

.d1 {
    font-size: 16px;
    padding: 10px 5px;
    color: blue;
}

img {
    display: block;
    margin: 0 auto;
    width: 500px;
    padding-bottom: 20px;
}

p {
    position: fixed;
    bottom: 0;
    left: 0;
}

button {
    color: white;
    font-family: serif;
    font-size: 18px;
    border: 0px;
    padding: 6px;
}

#link {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}